.arrow-grey-down {
	width: 12px;
	height: 8px;
	background-position: 0 0;
}

.arrow-grey-left {
	width: 8px;
	height: 12px;
	background-position: -36px 0;
}

.arrow-grey-medium {
	width: 16px;
	height: 24px;
	background-position: 0 -36px;
}

.arrow-grey-right {
	width: 8px;
	height: 12px;
	background-position: -36px -36px;
}

.arrow-grey-small {
	width: 8px;
	height: 12px;
	background-position: -72px 0;
}

.arrow-grey-up {
	width: 12px;
	height: 8px;
	background-position: -72px -36px;
}

.arrow-teal-down {
	width: 12px;
	height: 8px;
	background-position: -108px 0;
}

.arrow-teal-large {
	width: 24px;
	height: 36px;
	background-position: 0 -90px;
}

.arrow-teal-left {
	width: 8px;
	height: 12px;
	background-position: -108px -36px;
}

.arrow-teal-medium {
	width: 16px;
	height: 24px;
	background-position: -54px -90px;
}

.arrow-teal-right {
	width: 8px;
	height: 12px;
	background-position: -90px -90px;
}

.arrow-teal-small {
	width: 8px;
	height: 12px;
	background-position: -144px 0;
}

.arrow-teal-up {
	width: 12px;
	height: 8px;
	background-position: -144px -36px;
}

.arrow-trans-down {
	width: 12px;
	height: 8px;
	background-position: -144px -72px;
}

.arrow-trans-large {
	width: 24px;
	height: 36px;
	background-position: -180px 0;
}

.arrow-trans-left {
	width: 8px;
	height: 12px;
	background-position: -180px -54px;
}

.arrow-trans-medium {
	width: 16px;
	height: 24px;
	background-position: -180px -90px;
}

.arrow-trans-right {
	width: 8px;
	height: 12px;
	background-position: -144px -108px;
}

.arrow-trans-small {
	width: 8px;
	height: 12px;
	background-position: 0 -144px;
}

.arrow-trans-up {
	width: 12px;
	height: 8px;
	background-position: -36px -144px;
}

.checkbox-checked {
	width: 20px;
	height: 20px;
	background-position: 0 -180px;
}

.checkbox-disabled-checked {
	width: 20px;
	height: 20px;
	background-position: -54px -180px;
}

.checkbox-disabled-unchecked {
	width: 20px;
	height: 20px;
	background-position: -108px -180px;
}

.checkbox-unchecked {
	width: 20px;
	height: 20px;
	background-position: -162px -180px;
}

.corners {
	width: 80px;
	height: 40px;
	background-position: -234px 0;
}

.facebook-blue {
	width: 25px;
	height: 50px;
	background-position: -234px -72px;
}

.flickr {
	width: 86px;
	height: 48px;
	background-position: -234px -144px;
}

.hamburger {
	width: 33px;
	height: 26px;
	background-position: -288px -72px;
}

.horse-large {
	width: 187px;
	height: 245px;
	background-position: 0 -234px;
}

.horse-med {
	width: 133px;
	height: 175px;
	background-position: -342px 0;
}

.horse-small {
	width: 107px;
	height: 140px;
	background-position: -342px -198px;
}

.icon-average {
	width: 40px;
	height: 40px;
	background-position: -342px -360px;
}

.icon-group-activity {
	width: 92px;
	height: 92px;
	background-position: -216px -234px;
}

.icon-outdoor-learning {
	width: 92px;
	height: 92px;
	background-position: -216px -360px;
}

.icon-parking {
	width: 92px;
	height: 92px;
	background-position: -504px 0;
}

.icon-parties {
	width: 92px;
	height: 92px;
	background-position: -504px -126px;
}

.icon-team-building {
	width: 92px;
	height: 92px;
	background-position: -504px -252px;
}

.icon-top {
	width: 32px;
	height: 34px;
	background-position: -504px -378px;
}

.icon-unhappy {
	width: 40px;
	height: 40px;
	background-position: -504px -432px;
}

.icon-venue {
	width: 92px;
	height: 92px;
	background-position: 0 -504px;
}

.icon-whats-on {
	width: 92px;
	height: 92px;
	background-position: -126px -504px;
}

.info-suffix {
	width: 16px;
	height: 16px;
	background-position: -558px -378px;
}

.kcc-large {
	width: 423px;
	height: 48px;
	background-position: -630px 0;
}

.kcc-little {
	width: 82px;
	height: 38px;
	background-position: -630px -72px;
}

.kcc-logo {
	width: 189px;
	height: 120px;
	background-position: -630px -144px;
}

.leaf-single-green {
	width: 206px;
	height: 509px;
	background-position: -1080px 0;
}

.leaves-green {
	width: 529px;
	height: 523px;
	background-position: 0 -630px;
}

.list36x36 {
	width: 36px;
	height: 36px;
	background-position: -1080px -540px;
}

.map-tab {
	width: 29px;
	height: 100px;
	background-position: -846px -144px;
}

.map36x36 {
	width: 36px;
	height: 36px;
	background-position: -1134px -540px;
}

.news-icon {
	width: 280px;
	height: 240px;
	background-position: -630px -288px;
}

.piechart36x36 {
	width: 36px;
	height: 36px;
	background-position: -1188px -540px;
}

.radio-checked {
	width: 20px;
	height: 20px;
	background-position: -1242px -540px;
}

.radio-disabled-checked {
	width: 20px;
	height: 20px;
	background-position: -738px -72px;
}

.radio-disabled-unchecked {
	width: 20px;
	height: 20px;
	background-position: -792px -72px;
}

.radio-unchecked {
	width: 20px;
	height: 20px;
	background-position: -846px -72px;
}

.reply-arrow {
	width: 17px;
	height: 11px;
	background-position: -1080px -594px;
}

.required {
	width: 17px;
	height: 16px;
	background-position: -1116px -594px;
}

.retweet {
	width: 20px;
	height: 12px;
	background-position: -1152px -594px;
}

.search-button {
	width: 42px;
	height: 42px;
	background-position: -900px -144px;
}

.select-arrow {
	width: 22px;
	height: 22px;
	background-position: -900px -72px;
}

.social-email {
	width: 40px;
	height: 40px;
	background-position: -972px -144px;
}

.social-facebook {
	width: 40px;
	height: 40px;
	background-position: -936px -288px;
}

.social-share {
	width: 40px;
	height: 40px;
	background-position: -1008px -288px;
}

.social-twitter {
	width: 40px;
	height: 40px;
	background-position: -936px -360px;
}

.social-youtube {
	width: 40px;
	height: 40px;
	background-position: -1008px -360px;
}

.star-this {
	width: 14px;
	height: 13px;
	background-position: -1206px -594px;
}

.tab-arrow-large-up-teal {
	width: 99px;
	height: 30px;
	background-position: -900px -216px;
}

.tab-arrow-small-down-teal {
	width: 50px;
	height: 16px;
	background-position: -1242px -594px;
}

.tab-arrow-small-down-white {
	width: 50px;
	height: 16px;
	background-position: -954px -72px;
}

.twitter-blue {
	width: 60px;
	height: 49px;
	background-position: -936px -432px;
}

.twitter-blue-small {
	width: 31px;
	height: 25px;
	background-position: -1026px -432px;
}

.twitter-white {
	width: 60px;
	height: 49px;
	background-position: -630px -558px;
}

.arrow-grey-down, .arrow-grey-left, .arrow-grey-medium, .arrow-grey-right, .arrow-grey-small, .arrow-grey-up, .arrow-teal-down, .arrow-teal-large, .arrow-teal-left, .arrow-teal-medium, .arrow-teal-right, .arrow-teal-small, .arrow-teal-up, .arrow-trans-down, .arrow-trans-large, .arrow-trans-left, .arrow-trans-medium, .arrow-trans-right, .arrow-trans-small, .arrow-trans-up, .checkbox-checked, .checkbox-disabled-checked, .checkbox-disabled-unchecked, .checkbox-unchecked, .corners, .facebook-blue, .flickr, .hamburger, .horse-large, .horse-med, .horse-small, .icon-average, .icon-group-activity, .icon-outdoor-learning, .icon-parking, .icon-parties, .icon-team-building, .icon-top, .icon-unhappy, .icon-venue, .icon-whats-on, .info-suffix, .kcc-large, .kcc-little, .kcc-logo, .leaf-single-green, .leaves-green, .list36x36, .map-tab, .map36x36, .news-icon, .piechart36x36, .radio-checked, .radio-disabled-checked, .radio-disabled-unchecked, .radio-unchecked, .reply-arrow, .required, .retweet, .search-button, .select-arrow, .social-email, .social-facebook, .social-share, .social-twitter, .social-youtube, .star-this, .tab-arrow-large-up-teal, .tab-arrow-small-down-teal, .tab-arrow-small-down-white, .twitter-blue, .twitter-blue-small, .twitter-white {
	background-size: 1314px 1188px;
	background-repeat: no-repeat;
	background-image: url("../images/sprite.png");
}

.svg .arrow-grey-down, .svg .arrow-grey-left, .svg .arrow-grey-medium, .svg .arrow-grey-right, .svg .arrow-grey-small, .svg .arrow-grey-up, .svg .arrow-teal-down, .svg .arrow-teal-large, .svg .arrow-teal-left, .svg .arrow-teal-medium, .svg .arrow-teal-right, .svg .arrow-teal-small, .svg .arrow-teal-up, .svg .arrow-trans-down, .svg .arrow-trans-large, .svg .arrow-trans-left, .svg .arrow-trans-medium, .svg .arrow-trans-right, .svg .arrow-trans-small, .svg .arrow-trans-up, .svg .checkbox-checked, .svg .checkbox-disabled-checked, .svg .checkbox-disabled-unchecked, .svg .checkbox-unchecked, .svg .corners, .svg .facebook-blue, .svg .flickr, .svg .hamburger, .svg .horse-large, .svg .horse-med, .svg .horse-small, .svg .icon-average, .svg .icon-group-activity, .svg .icon-outdoor-learning, .svg .icon-parking, .svg .icon-parties, .svg .icon-team-building, .svg .icon-top, .svg .icon-unhappy, .svg .icon-venue, .svg .icon-whats-on, .svg .info-suffix, .svg .kcc-large, .svg .kcc-little, .svg .kcc-logo, .svg .leaf-single-green, .svg .leaves-green, .svg .list36x36, .svg .map-tab, .svg .map36x36, .svg .news-icon, .svg .piechart36x36, .svg .radio-checked, .svg .radio-disabled-checked, .svg .radio-disabled-unchecked, .svg .radio-unchecked, .svg .reply-arrow, .svg .required, .svg .retweet, .svg .search-button, .svg .select-arrow, .svg .social-email, .svg .social-facebook, .svg .social-share, .svg .social-twitter, .svg .social-youtube, .svg .star-this, .svg .tab-arrow-large-up-teal, .svg .tab-arrow-small-down-teal, .svg .tab-arrow-small-down-white, .svg .twitter-blue, .svg .twitter-blue-small, .svg .twitter-white {
	background-image: url("../images/sprite.svg");
}
